<h1 style="padding: 0 0 10px 0; margin: 0 0 20px 0; border-bottom:1px solid #ccc;">Edit User Info</h1>
<table style="width:100%">
	<tr>
		<td style="width:370px">
			<%= form_for(@user) do |f| %>
			  <%= render 'shared/error_messages'%>
			  <div class="field">
			  	<%= f.label :username %>
			  	<%= f.text_field :username, {:disabled => true} %>
			  </div>
			  <div class="field">
			  	<%= f.label :email %>
			  	<%= f.text_field :email, {:disabled => true} %>
			  </div>
			  <div class="field">
			  	<%= f.label :password %>
			  	<%= f.password_field :password %>
			  </div>
			  <div class="field">
			  	<%= f.label :password_confirmation %>
			  	<%= f.password_field :password_confirmation %>
			  </div>
			  <div class="action">
			  	<%= f.submit "Update Info"%>
			  	<input type="hidden" name="edit_info" value="true" class="" />
			  </div>
			<% end %>

		</td>
		<td style="width:800px" valign="top">
			<%= form_for(@user) do |f| %>
			<table style="width:100%">
				<tr>
					<td style="width:400px;" class="namelist-publisher-title"><b>Publishers</b></td>
					<td style="width:400px;" class="namelist-category-title"><b><span id="category_title"></span>Categories</b></td>
				</tr>
				<tr>
					<td style="width:400px;">
						<% @pub_cat_namelist.each do |key, val| %>
							<div id="publisher<%= key %>" class="namelist-publisher">
								<span style="padding-left:10px;"><%= val['publisher_name'] %></span>
							</div>
							<input type="hidden" name="pub[<%= key %>]" value="" class="pub-cat-hidden" />
						<% end %>
					</td>
					<td style="width:400px;" id="pub_cat_namelist_category" valign="top">
						<% @pub_cat_namelist.each do |key, val| %>
							<div id="cat_publisher<%= key %>" class="hide cat-namelist-publisher">
								<% val['categories'].each do |m| %>
								<%= raw "<input type='checkbox' name='pub_cat' id='pub_cat."+ m['pub_cat_id'].to_s+"' class='checkbox-for-publisher" + key.to_s + "' value='"+ m['pub_cat_id'].to_s+"' style='margin: -5px 10px 0 0' checked='checked' />" %>
								<%= raw "<label for='pub_cat."+m['pub_cat_id'].to_s+"' style='display: inline-block'> " + m['category_name'] + "</label><br />" %>
								<% end %>
							</div>
						<% end %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="hidden" name="edit_subscription" value="true" class="" />
						<%= f.submit "Update Subscription"%>
					</td>
				</tr>
			</table>
		<% end %>
		</td>
	</tr>
</table>
