
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <% count1 = 0 %>

  <% if !@result_json['newsfeed_aggregate_per_categories'].blank? && !@result_json['newsfeed_aggregate_per_publishers'].blank? %>
  <ul class="nav nav-tabs" id="category-nav" style="display:block;">
  	
  	<% @result_json['newsfeed_aggregate_per_categories'].each do |c1| %>
	  	<% count1 = count1 + 1 %>
	    <li class="content-tab <%= count1 == 1 ? 'active' : ''%>"><a href="#tab<%= count1.to_s %>" data-toggle="tab"><%= c1['category_name'] %> </a></li>
    <% end %>
  </ul>

  <% j = 0 %>
  <ul class="nav nav-tabs" id="publisher-nav" style="display:none">
  	<% @result_json['newsfeed_aggregate_per_publishers'].each do |p1| %>
	  	<% count1 = count1 + 1 %>
	  	<% j = j + 1 %>
	    <li class="content-tab <%= j == 1 ? 'active' : ''%>"><a href="#tab<%= count1.to_s %>" data-toggle="tab"><%= p1['publisher_name'] %> </a></li>
    <% end %>
  </ul>
  <% end %>
  <%= render "layouts/filter_dropdown" %>

  

  
  <% count2 = 0 %>
  <% if !@result_json['newsfeed_aggregate_per_categories'].blank? && !@result_json['newsfeed_aggregate_per_publishers'].blank? %>
  <div class="tab-content" id="category-content">
	  	<% @result_json['newsfeed_aggregate_per_categories'].each do |c2| %>
		  	<% count2 = count2 + 1 %>
		  	
		    <div class="tab-pane <%= count2 == 1 ? 'active' : ''%>" id="tab<%= count2.to_s %>">
		      <% c2['content_urls'].each do |cu| %>
			      <%
			      time_ago = time_ago_in_words(cu[0]) + " ago"
			      title = raw cu[1][0]['title'].to_s
			      %>
			      <div class="content-url"><a href="<%=  raw cu[1][0]['link'] %>" target="blank"><%= title %></a><br /><%= time_ago %></div>
		      <% end %>
		    </div>
	    <% end %>
  </div>
  <div class="tab-content" id="publisher-content" style="display:none">
        <% k = 0 %>
	  	<% @result_json['newsfeed_aggregate_per_publishers'].each do |p2| %>
		  	<% count2 = count2 + 1 %>
		  	<% k = k + 1 %>
		    <div class="tab-pane <%= k == 1 ? 'active' : ''%>" id="tab<%= count2.to_s %>">
		      <% p2['content_urls'].each do |cu| %>
			      <%
			      time_ago = time_ago_in_words(cu[0]) + " ago"
			      title = raw cu[1][0]['title'].to_s
			      %>
			      <p class="content-url"><a href="<%=  raw cu[1][0]['link'] %>" target="blank"><%= title %></a><br /><%= time_ago %></p>
		      <% end %>
		    </div>
	    <% end %>

  </div>
  <% end %>
</div>