<div class="navbar navbar-inverse navbar-fixed-top" style="position:absolute; z-index:100;">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="homebrand" href="/"><%= logo %> NewsFave.com</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="header-tab <%= params[:controller] == 'pages' && params[:action] == 'about' ? 'active' : '' %>"><%= link_to 'About', about_path %></li>
          <li class="header-tab <%= params[:controller] == 'pages' && params[:action] == 'contact' ? 'active' : '' %>"><%= link_to 'Contact', contact_path %></li>
          <li class="header-tab <%= params[:controller] == 'pages' && params[:action] == 'feedlist' ? 'active' : '' %>"><%= link_to 'Feed List', feedlist_path %></li>
          <% unless signed_in? %>
            <li class="header-tab <%= params[:controller] == 'users' && params[:action] == 'new' ? 'active' : '' %>"><a href="#signup_modal" data-toggle="modal" style="color:#EAB50F">Personalize!</a></li>
          <% end %>
        </ul>
        
        
        <div id="signed_in_or_signed_up">
	        <% if signed_in? %>
	          <ul class="nav" style="float:right">
				<li class="header-tab <%= params[:controller] == 'users' && params[:action] == 'show' ? 'active' : '' %>"><%= link_to 'Profile', user_path(session[:user_id]) %></li>
				<li class="header-tab"><%= link_to 'Sign out', :destroy_user_session, :method => :delete %></li>
			  </ul>
			<% else %>
			  <%= form_for( :user, :url => user_session_path, :html => {:class => "navbar-form pull-right signin-form"} ) do |f| %>
	            <%= f.text_field :email, :class => "span2", :placeholder => "Email"  %>
	            <%= f.password_field :password, :class => "span2", :placeholder => "Password"  %>
	            <%= f.submit "Sign In", :class => "btn" %>
	          <% end %>
			<% end %>
		</div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>