<!-- Modal -->
<% @user = User.new %>

<div id="signup_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signup_modalLabel" aria-hidden="true">

  		
		<%= form_for(:user, :html => {:class => "", :id => "signup_step1"}) do |f| %>
		<h1>Sign Up</h1>
		  <%= render 'shared/error_messages'%>
		  <div class="field">
		  	<%= f.label :username %>
		  	<%= f.text_field :username %>
		  </div>
		  <div class="field">
		  	<%= f.label :email %>
		  	<%= f.text_field :email %>
		  </div>
		  <div class="field">
		  	<%= f.label :password %>
		  	<%= f.password_field :password %>
		  </div>
		  <div class="field">
		  	<%= f.label :password_confirmation, "Confirm Password" %>
		  	<%= f.password_field :password_confirmation %>
		  </div>
		  <div class="action">
		  	<%=  button_tag "Sign Up", type:'button', id:'signupButton' %>
		  </div>
		<% end %>

	
		<% if signed_in? == false && @pub_cat_namelist.present? %>
			<%= form_tag("/users/update_pub_cats", :method => "post", :class => "hide", :id => "signup_step2") do %>
				<h1>Choose Feeds</h1>
	
				<p style="margin-top:5px;">Congratulations, you've been signed up to NewsFave.com!</p> 
				<p style="margin-bottom:15px;">Now you can subscribe to the newsfeeds of your choice by picking the publishers and categories below:</p>
	
				<table style="width:100%">
					<tr>
						<td class="namelist-publisher-title"><b>Publishers</b></td>
						<td class="namelist-category-title"><b><span id="category_title"></span>Categories</b></td>
					</tr>
					<tr>
						<td style="width:50%;" valign="top">
							<% @pub_cat_namelist.each do |key, val| %>
								<div id="publisher<%= key %>" class="namelist-publisher">
									<span style="padding-left:10px;"><%= val['publisher_name'] %></span>
								</div>
								<input type="hidden" name="pub[<%= key %>]" value="" class="pub-cat-hidden" />
							<% end %>
						</td>
						<td id="pub_cat_namelist_category" style="width:50%" valign="top">
							<% @pub_cat_namelist.each do |key, val| %>
								<div id="cat_publisher<%= key %>" class="hide cat-namelist-publisher">
									<% val['categories'].each do |m| %>
									<%= raw "<input type='checkbox' name='pub_cat' id='pub_cat."+ m['pub_cat_id'].to_s+"' class='checkbox-for-publisher" + key.to_s + "' value='"+ m['pub_cat_id'].to_s+"' style='margin: -5px 10px 0 0' />" %>
									<%= raw "<label for='pub_cat."+m['pub_cat_id'].to_s+"' style='display: inline-block'> " + m['category_name'] + "</label><br />" %>
									<% end %>
								</div>
							<% end %>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<%=  button_tag "Subscribe", type:'button', id:'feed_subscribe_button' %>
						</td>
					</tr>
				</table>
			<% end %>
		<% end %>

</div>