<!-- Modal -->
<% @user = User.new %>
<%
    result = Curl.get(Silverstar::Application.config.feed_webservice_url + "/get_pub_cat_namelist/")
    @pub_cat_namelist = JSON.parse(result.body_str)

%>

<div id="signup_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signup_modalLabel" aria-hidden="true">

  		
		<%= form_for(@user, :html => {:class => "", :id => "signup_step1"}) do |f| %>
		<h1>Sign Up</h1>
		  <%= render 'shared/error_messages'%>
		  <div class="field">
		  	<%= f.label :username %>
		  	<%= f.text_field :username %>
		  </div>
		  <div class="field">
		  	<%= f.label :email %>
		  	<%= f.text_field :email %>
		  </div>
		  <div class="field">
		  	<%= f.label :password %>
		  	<%= f.password_field :password %>
		  </div>
		  <div class="field">
		  	<%= f.label :password_confirmation, "Confirm Password" %>
		  	<%= f.password_field :password_confirmation %>
		  </div>
		  <div class="action">
		  	<%=  button_tag "Sign Up", type:'button', id:'signupButton' %>
		  </div>
		<% end %>

	

		<%= form_tag("/users/update_pub_cats", :method => "post", :class => "hide", :id => "signup_step2") do %>
			<h1>Choose Feed</h1>
			<br />
			<table style="width:100%">
				<tr>
					<td class="namelist-publisher-title"><b>Publisher</b></td>
					<td class="namelist-category-title"><b>Category</b></td>
				</tr>
				<tr>
					<td style="width:50%;" valign="top">
						<% @pub_cat_namelist.each do |key, val| %>
							<div id="publisher<%= key %>" class="namelist-publisher">
								<span style="padding-left:10px;"><%= val['publisher_name'] %></span>
							</div>
							<input type="hidden" name="pub[<%= key %>]" value="" class="pub-cat-hidden" />
						<% end %>
					</td>
					<td id="pub_cat_namelist_category" style="width:50%" valign="top">
						<% @pub_cat_namelist.each do |key, val| %>
							<div id="cat_publisher<%= key %>" class="hide cat-namelist-publisher">
								<% val['categories'].each do |m| %>
								<%= raw "<input type='checkbox' name='pub_cat' id='pub_cat."+ m['pub_cat_id'].to_s+"' class='checkbox-for-publisher" + key.to_s + "' value='"+ m['pub_cat_id'].to_s+"' style='margin: -5px 10px 0 0' checked='checked' />" %>
								<%= raw "<label for='pub_cat."+m['pub_cat_id'].to_s+"' style='display: inline-block'> " + m['category_name'] + "</label><br />" %>
								<% end %>
							</div>
						<% end %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%=  button_tag "Subscribe", type:'button', id:'feed_subscribe_button' %>
					</td>
				</tr>
			</table>
		<% end %>
		
		<script style="text/javascript">
			$(function() {
				
				//Publisher button on mouseover
			    $(".namelist-publisher").on("mouseover", function() {
				  	var key = $(this).attr('id').substring(9);
				  	$(".cat-namelist-publisher").hide();
				  	$("#cat_publisher"+key).show();
				  	var pub_val = $("input:hidden[name='pub["+ key +"]']").val();
				  	
				  	if(pub_val.length > 0){
				  		var arr = pub_val.split(",");
				  		
					  	for(k in arr) {
					  		$("#pub_cat."+arr[k]+"").prop('checked', true);
					  	}
				  	}
				});
				
				
				//Publisher button on click
				$(".namelist-publisher").on("click", function() {
					var key = $(this).attr('id').substring(9);
					if ($(this).hasClass('chosen')) {  //un-choose
						$(this).removeClass('chosen');
						$(".checkbox-for-publisher"+key).each(function(index, obj){
							obj.checked = false;
						});
						
						$("input:hidden[name='pub["+ key +"]']").prop("value", ""); //empty csv list of pub_cats in input hidden value
					}
					else {
						$(this).addClass('chosen');  //choose
						var arr = [];
						$(".checkbox-for-publisher"+key).each(function(index, obj) {
							obj.checked = true;
							arr.push(obj.value);
						});
						var str = arr.join(",");
						$("input:hidden[name='pub["+ key +"]']").val(str);  //update csv list of pub_cats in input hidden value
					}
				});
				
				//Category checkbox on click
				$("input:checkbox[name=pub_cat]").on("click", function() {
					var pub_id = this.className.substring(22);
					
					if($("#publisher"+pub_id).hasClass("chosen")){
						var arr = [];
						$(this).parent().children('input:checkbox').each(function(index, object ) {
							
							if(object.checked == true) {
								arr.push(object.value);
							}
						});
						
						var str = arr.join(",");
						
						$("input:hidden[name='pub["+ pub_id +"]']").val(str);  //update csv list of pub_cats in input hidden value
					}
					
				});
			});
		</script>

</div>
