<!DOCTYPE html>
<html>
<head>
  <!-- Copyright (c) Bonet Sugiarto 2013 //-->
  
  <title><%= title %></title>
  <%= render "layouts/stylesheets" %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
	
	<header>
	  <%= render "layouts/header" %>
	</header>
	
	<div class="container">
		
		<section class="round">
			<% flash.each do |key, value| %>
			  <div class="flash <%= key %>" > <%= value %> </div>
			<% end %>
			<%= yield %>
		</section>

		<%= render "layouts/footer" %>
		<%= render "layouts/signup" %>
	</div>
	
</body>
</html>
